.full-width-table {
    width: 100%;
  }
  
  .data-table{
    width: 70%;
    margin: 70px auto;
  }

  .center {
    margin: auto;
    width: 14%;
    padding: 13px;
    font-size: xx-large;
    font-style: italic;
  }

  .toolbar-background{
      background-color: rgb(127, 161, 255);
  }